#Created by Constraints Editor (xc6slx9-tqg144-3) - 2012/11/05
NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 50 MHz HIGH 50%;

# PlanAhead Generated physical constraints 

NET "clk" LOC = P56;
NET "rst_n" LOC = P38;
NET "cclk" LOC = P70;

#NET "led<0>" LOC = P134;
#NET "led<1>" LOC = P133;
#NET "led<2>" LOC = P132;
#NET "led<3>" LOC = P131;
#NET "led<4>" LOC = P127;
#NET "led<5>" LOC = P126;
#NET "led<6>" LOC = P124;
#NET "led<7>" LOC = P123;
#NET "btn"	 LOC = P1;

NET "counter_clock" LOC = P123;

NET "data_in<0>" LOC = P131;
NET "data_in<1>" LOC = P132;
NET "data_in<2>" LOC = P126;
NET "data_in<3>" LOC = P127;

NET "data_out_mux<0>" LOC = P94;
NET "data_out_mux<1>" LOC = P95;
NET "data_out_mux<2>" LOC = P97;
NET "data_out_mux<3>" LOC = P98;
NET "data_out_mux<4>" LOC = P99;
NET "data_out_mux<5>" LOC = P100;
NET "data_out_mux<6>" LOC = P101;
NET "data_out_mux<7>" LOC = P102;
NET "data_out_mux<8>" LOC = P104;
NET "data_out_mux<9>" LOC = P105;
NET "data_out_mux<10>" LOC = P111;
NET "data_out_mux<11>" LOC = P112;
NET "data_out_mux<12>" LOC = P114;
NET "data_out_mux<13>" LOC = P115;
NET "data_out_mux<14>" LOC = P116;
NET "data_out_mux<15>" LOC = P117;

NET "data_out_decoder<0>" LOC = P118;
NET "data_out_decoder<1>" LOC = P119;
NET "data_out_decoder<2>" LOC = P120;
NET "data_out_decoder<3>" LOC = P121;
